.contact-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.item {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: var(--el-width);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

@media screen and (min-width: 1228px) {
  .contact-list {
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
  }

  .item {
    min-width: 350px;
  }
}
